<!DOCTYPE html>
<html lang="pt-br">
     
<head>
        <meta charset="UTF-8">
        {% block title %}
            <title>Casa Criativa</title> 
        {% endblock title %}


        {% include "head.html" %}
</head>


  <body id="{{ bodyId }}">

    <div id="container">

        {% block content %}
        {% endblock %}

        </div> 


    {% include "modal.html" %}

        
    <script>
            function onOff(){
        document
            .querySelector('#modal')
            .classList
            .toggle('hide')
            console.log("button clicked!")   
           
            document
            .querySelector("body")
            .classList
            .toggle("hideScroll")   

            document
            .querySelector('#modal')
            .classList
            .toggle("addScroll")          
}

function checkFields(event) {

    const valuesToCheck = [
        "title",
        "category",
        "image",
        "description",
        "link"
    ]


    const isEmpty = valuesToCheck.find(function(value) {

        const checkIfIsString = typeof event.target[value].value == "string"
        const checkIfIsEmpty = !event.target[value].value.trim()
        
        if(checkIfIsString && checkIfIsEmpty) {
            return true
        }
        
    })

    if(isEmpty) {
         event.preventDefault()
         alert("Por favor, preencha todos os campos")
    }


}
        </script>

    </body>


</html>